$main-blue: #035297; /* Example primary color */
$light-blue: #82BAEC; /* Example primary color */
$accent-color: #F7BF0B; /* Example accent color */
$font-color: #0C1D2C; /* Example text color */
$background-color: #F6F6F6; /* Example background color */
$error-color: #DC2C24; /* Example background color */
