<div class="card">
  <h4 class="card-title">
    {{cardData.title}}
  </h4>
  <p class="card-description">{{cardData.description}}</p>
  <p class="card-instructions">{{instructions}}</p>
  <p class="card-output" [style.color]="textColor">
    {{result}}
  </p>

  <div class="card_actions">
    <div class="card_actions-input">
      @if (cardData.input) {
        <input class="input" type="text" [(ngModel)]="userInput" placeholder="Enter a string"
          >
      }
    </div>
    <button class="btn" (click)="runUtilFunction(cardData.functionName)">
      {{btnInstructions}}
    </button>
    <button class="btn">
      <a href={{cardData.link}} class="link">Inspect code</a>
    </button>
  </div>
</div>
