@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/_fonts.scss";
@import "../../../assets/styles/_mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  height: 600px;
  border-radius: 10px;
  padding: 10px;
  color: $font-color;
  width: 300px;
  text-align: center;
  border: 1px solid $main-blue;

  &-title {
    font-family: 'Roboto Medium', 'sans-serif';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  &-description {
    @include customFontStyles;
    height: 100px;
    min-height: 100px;

    margin-bottom: 10px;
  }

  &-instructions {
    @include customFontStyles;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }


  &-output {
    @include customFontStyles;
    height: 150px;
    min-height: 150px;
    width: 100%;
    border: 1px solid $accent-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }


  &_actions {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-input {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .input {
        width: 100%;
        padding: 12px 15px;
        color: $light-blue;
        background-color: $main-blue;
        border-radius: 25px;
        font-family: 'Roboto Light', 'sans-serif';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        border: 2px solid $light-blue;
        box-sizing: border-box;
        letter-spacing: 2px;
        margin-bottom: 10px;

        &::placeholder {
          font-family: 'Roboto Light', 'sans-serif';
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          color: $accent-color;
        }

        &:hover {
          outline: 2px solid $accent-color;
        }

        &:focus {
          outline: 2px solid $main-blue;
        }
      }

    }

    &-code {
      font-family: 'Roboto Light', 'sans-serif';
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

}
