@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/_fonts.scss";

.leetCode {
  border-top: 1px solid $main-blue;
  padding-top: 50px;
  padding-bottom: 50px;

 &_title {
    font-family: 'Roboto Bold', 'sans-serif';
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 25px;
    text-align: center;
    color: $font-color;
  }

  &_cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }


}
